/* main.css */

body {
	padding-top: 50px;
	padding-bottom: 20px;
	color: #5a5a5a;
}

.event {
	display: block;
}

.seat {
	cursor: pointer;
	display: inline-block;
	font-size: 0.7em;
	text-align: center;
	width: 2.75em;
	height: 2.75em;
	border: 2px solid;
	border-radius: 5px;

	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.seat-free {
	border-color: #d0d0d0;
	background-color: #d0d0d0;
}

.seat-free:hover {
	border-color: #9f9f9f;
}

.seat-reserved {
	color: #0f0f0f;
	border-color: #0f0f0f;
	background-color: #696969;
}

.seat-sold {
	color: #dfdfdf;
	border-color: #0f0f0f;
	background-color: #0f0f0f;
}

.seat-marked,
.seat-marked:hover {
	border-color: #9f9f9f;
	background-color: #9f9f9f;
}

.seat-own,
.seat-own:hover {
	border-color: #0a0;
}

.seat-legend {
	margin-top: 1.5em;
}

.seat-legend .seat {
	width: 2em;
	height: 2em;
	margin-bottom: -0.5em;
}

body > .container {
	margin-top: 3em;
}

textarea {
	overflow: auto;
	resize: vertical;
}
